/* ----- SECTION 1 ----- */
#section1 {
    padding-bottom: 0;
    background: url('../../assets/images/spring-cropped.gif') no-repeat top right, #151515;
    background-size: contain;
    position: relative;
}
@media screen and (max-width: 991px) {
    #section1 {
        background-size: cover;
        background-position: top left;
    }
}