.navbar {
    flex-wrap: nowrap !important; /* NO WRAPPING NAV ITEMS! */
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    z-index: 1000;
    height: 60px;
    background-color: #1c1c1c;
}

.navbar-nav .nav-item .nav-link {
    transition: filter 0.3s ease;
    color: #ffffff;
}

.navbar-nav .nav-item .nav-link:hover {
    background-color: transparent;
    filter: brightness(1.17);
}

.navbar-nav .nav-item .nav-link.btn-secondary {
    transition: background-color 0.25s ease-in-out;
}

.navbar-nav .nav-item .nav-link.btn-secondary .logout-icon,
.navbar-nav .nav-item .nav-link.btn-secondary span {
    transition: all 0.25s ease-in-out;
}

.navbar-nav .nav-item .nav-link.btn-secondary:hover .logout-icon {
    opacity: 0.5;
    filter: brightness(0); /* Darken icon on hover */
}

.navbar-nav .nav-item .nav-link.btn-secondary:hover span {
    color: #390000 !important; /* Dark red text color on hover */
}

.navbar-nav .nav-item .nav-link.btn-secondary:hover {
    background-color: #8c2312 !important; /* Dark red background color on hover */
}

.nav-username {
    color: #6e6e6e !important;
    font-weight: 500;
}

/* Hide nav-username on smaller screens */
@media (max-width: 550px) {
    .nav-username {
        display: none !important;
    }
}

/* Notification and Dropdown Button */
.navbar-nav .nav-item .btn {
    width: 35px;
    height: 35px;
    border: none;
    border-radius: 50%;
    background-color: #303030;
    transition: background-color 0.2s ease-in-out;
}

.navbar-nav .nav-item .btn:hover {
    background-color: #404040;
}

.dropdown-menu {
    background-color: #181818;
}

.dropdown-menu li .dropdown-item:hover {
    background-color: #1d1d1d;
}
