.navbar {
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    z-index: 1000;
    height: 60px;
}


/* PROFILE & NOTIFICATION */
.navbar-nav .nav-item .nav-link {
    transition: filter 0.3s ease;
}

.navbar-nav .nav-item .nav-link:hover {
    background-color: transparent;
    filter: brightness(1.17);
}

/* LOGOUT */
.navbar-nav .nav-item .nav-link.btn-secondary {
    transition: background-color 0.25s ease-in-out;
}

.navbar-nav .nav-item .nav-link.btn-secondary .logout-icon,
.navbar-nav .nav-item .nav-link.btn-secondary span {
    transition: all 0.25s ease-in-out;
}

.navbar-nav .nav-item .nav-link.btn-secondary:hover .logout-icon {
    opacity: 0.5;
    filter: brightness(0);
}

.navbar-nav .nav-item .nav-link.btn-secondary:hover span {
    color: rgb(57, 0, 0) !important;
}

.navbar-nav .nav-item .nav-link.btn-secondary:hover {
    background-color: rgb(140, 35, 18) !important;
}


