/* General styles */
main {
    background-color: #121212;
}

/* Sidebar Styles */
#sidebarMenu {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    z-index: 1;
    width: 270px; /* Collapsed width by default */
    background-color: #121212;
    overflow-y: auto;
    transition: width 0.3s ease;
}

@media (min-width: 768px) {
    #sidebarMenu {
        top: 0;
        height: 100vh;
        padding-top: 60px; /* Adjust as needed for your navbar height */
    }
}

#sidebarMenu.collapsed {
    width: 65px; /* Collapsed width */
}

#sidebarMenu.expanded {
    width: 270px; /* Expanded width */
}

.sidebar-inner {
    padding: 0;
    overflow: hidden;
    transition: opacity 0.3s ease; /* Opacity transition */
}

.sidebar-inner.collapsed {
    opacity: 0; /* Hide content when collapsed */
    pointer-events: none; /* Disable interaction when collapsed */
}

.nav-link {
    color: #8a8a8a;
    padding: 10px 20px;
    display: flex;
    align-items: center;
    transition: background-color 0.3s, color 0.3s;
    white-space: nowrap;
    overflow: hidden;
}

.nav-link:hover,
.nav-link:focus {
    color: #8a8a8a;
    background-color: #343a40;
}

.nav-link .icon {
    margin-right: 10px;
    opacity: 0.7;
    transition: opacity 0.3s ease;
}

.nav-link.active {
    background-color: #343a40;
    color: #fff;
}

.nav-link span {
    transition: opacity 0.3s ease;
    opacity: 1;
}

#sidebarMenu.collapsed .nav-link span {
    opacity: 0; /* Hide text when collapsed */
}

#sidebarMenu.collapsed .nav-link .icon {
    opacity: 1; /* Show icon when collapsed */
}

.todo-list {
    transition: opacity 0.3s ease;
    opacity: 1;
    white-space: nowrap;
    overflow: hidden;
}

#sidebarMenu.collapsed .todo-list {
    opacity: 0; /* Hide todo list when collapsed */
}

.sidebar-menu h6 {
    transition: opacity 0.3s ease;
    opacity: 1;
    white-space: nowrap;
    overflow: hidden;
}

#sidebarMenu.collapsed .sidebar-menu h6 {
    opacity: 0; /* Hide heading when collapsed */
}

.welcome-message {
    background-color: #222222;
    transition: opacity 0.3s ease;
    opacity: 1;
}

#sidebarMenu.collapsed .welcome-message {
    opacity: 0; /* Hide welcome message when collapsed */
}

.welcome-title {
    margin: 0;
    padding: 0;
}

.welcome-text {
    transition: opacity 0.3s ease;
    opacity: 1;
}
