.rotated-icon {
    transform: rotate(-90deg);
    transition-duration: 0.2s;
}

/* Padding-left is 65px when sidebar is collapsed, and 270px when sidebar is expanded */
.main-content {
    /* default padding-left is 65px because the sidebar is collapsed by default */
    padding-left: 65px;
    transition: padding-left 0.2s ease;
    background-color: #121212;
    transition-duration: 0.2s;
}
@media (max-width: 768px) {
    .main-content {
        padding-left: 80px;
    }
    /* prevent the padding-left from being 270px when expanded while the screen is too small */
    .main-shifted {
        padding-left: 80px !important;
    }
}
/* PC screen, padding-left 270px */
.main-shifted {
    padding-left: 270px;
}



/* Sidebar Styles */
#sidebarMenu {
    z-index: 1;
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    width: 270px; /* Default width */
    background-color: #1C1C1C;
    overflow-y: auto;
    transition: width 0.2s ease;
    padding-top: 60px;
}

@media (min-width: 768px) {
    #sidebarMenu {
        top: 0;
        height: 100vh;
        padding-top: 60px;
    }
}

#sidebarMenu.collapsed {
    width: 65px; /* Collapsed width */
}

.sidebar-inner {
    padding: 0;
    overflow: hidden;
    transition: opacity 0.2s ease; /* Opacity transition */
}

.sidebar-inner.collapsed {
    opacity: 0; /* Hide content when collapsed */
    pointer-events: none; /* Disable interaction when collapsed */
}

.nav-link {
    color: #8a8a8a;
    padding: 10px 20px;
    display: flex;
    align-items: center;
    transition: background-color 0.2s, color 0.2s;
    white-space: nowrap;
    overflow: hidden;
}

.nav-link:hover,
.nav-link:focus {
    color: #8a8a8a;
    background-color: #282828;
}

.nav-link .icon {
    margin-top: 4px;
    margin-right: 10px;
    opacity: 0.75;
    transition-duration: 0.2s;
}

.nav-link.active .icon {
    filter: brightness(1) !important;
}

.nav-link.active {
    background: linear-gradient(325deg, #73C64A 0%, #10834c 100%);
    color: #fff;
}

.nav-link span {
    transition: opacity 0.2s ease;
    opacity: 1;
}

#sidebarMenu.collapsed .nav-link span {
    opacity: 0; /* Hide text when collapsed */
}

#sidebarMenu.collapsed .nav-link .icon {
    opacity: 1; /* Show icon when collapsed */
}

/* Welcome message box */
.welcome-message {
    background-color: #222222;
    transition: opacity 0.2s ease;
    opacity: 1;
}

#sidebarMenu.collapsed .welcome-message {
    opacity: 0; /* Hide welcome message when collapsed */
}

.welcome-title,
.welcome-text {
    transition: opacity 0.2s ease;
    opacity: 1;
}

/* To-do list */
.todo-list {
    transition: opacity 0.2s ease;
    opacity: 1;
    white-space: nowrap;
    overflow: hidden;
}

#sidebarMenu.collapsed .todo-list {
    opacity: 0; /* Hide todo list when collapsed */
}

/* Main menu & upcoming deadlines heading text */
.sidebar-menu h6 {
    transition: opacity 0.2s ease;
    opacity: 1;
    white-space: nowrap;
    overflow: hidden;
}

#sidebarMenu.collapsed .sidebar-menu h6 {
    opacity: 0; /* Hide heading when collapsed */
}




